.externalToolBuilders
.project

build
quicommon/quicommon.*
blog/blog.*
controls/controls.*
docs/docs.*
downloads/downloads.*
features/features.*
framework/framework.*
gallery/gallery.*
home/home.*
screencasts/screencasts.*
tutorial/section01/section01.*
tutorial/section02/section02.*
tutorial/section03/section03.*
tutorial/section04/section04.*
tutorial/section05/section05.*
tutorial/section06/section06.*
tutorial/section07/section07.*
tutorial/section08/section08.*
tutorial/section09/section09.*
tutorial/section10/section10.*
tutorial/section11/section11.*
tutorial/section12/section12.*
tutorial/section13/section13.*
tutorial/section14/section14.*
