.externalToolBuilders
.project

build
blog/blog.*
catalog
controls/controls.*
docs/samples/samples.*
downloads/downloads.*
features/features.*
framework/framework.*
gallery/gallery.*
home/home.*
release
screencasts/screencasts.*
markup/tutorial/section01/section01.*
markup/tutorial/section02/section02.*
markup/tutorial/section03/section03.*
markup/tutorial/section04/section04.*
markup/tutorial/section05/section05.*
markup/tutorial/section06/section06.*
markup/tutorial/section07/section07.*
markup/tutorial/section08/section08.*
markup/tutorial/section09/section09.*
markup/tutorial/section10/section10.*
markup/tutorial/section11/section11.*
markup/tutorial/section12/section12.*
markup/tutorial/section13/section13.*
markup/tutorial/section14/section14.*
