body, input {
    font-family: "AvenirNextLTW01-Regular", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

body {
    font-size: 15px;
}

h1, h2, h3 {
    font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

i, em {
    font-family: "AvenirNextLTW01-Italic", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

b, strong {
    font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;    
    font-weight: normal;
}

h1 {
    color: #391c01;
    font-size: 24px;
    margin-top: 2em;
}

h1:first-child {
    margin-top: .5em;
}

h2 {
    color: #391c01;
    font-size: 16px;
    margin-top: 1.5em;
}

a[href] {
    border-bottom: 1px dotted #2d7ab0;
    color: #2d7ab0;
    text-decoration: none;
}

a[href]:hover {
    border-bottom: 1px solid #d7761b;
    color: #d7761b;
}

li {
    margin-bottom: 6px;
}

pre {
    background-color: #faf3ed;
    border: 1px solid #d7c5b4;
    font-family: Inconsolata, Courier, "Courier New", monospace;
    font-size: 15px;
    padding: 10px;
    white-space: pre-wrap;
}
