/*** Greet ***/

.Greet {
    font-family: Arial, Helvetica, sans serif;
    font-size: 11pt;
}

.Greet #Greet_content.enabled {
    cursor: pointer;
}

/*** EmphaticGreet ***/

.EmphaticGreet {
    color: darkred;
    font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
}

