/*** CatalogPage ***/

.CatalogPage .SitePage_content {
    max-width: inherit;
}

.CatalogPage .section,
.CatalogPage .controlClassGraph {
    max-width: 800px;
}

.CatalogPage .editor {
    margin-top: 1em;
}

.CatalogPage .sectionSource,
.CatalogPage .sectionContent {
    display: none;
}

