.CodeEditor {

  .runner {
    display: table;
    width: 100%;
  }
  .runner > * {
    display: table-row;
  }
  .runner > * > * {
    box-sizing: border-box;
    display: table-cell;
    width: 50%;
  }

  .labelRow > * {
    padding-bottom: 0.5em;
  }

  .CodeEditor_heading {
    color: #928274;
    font-size: larger;
    font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
  }

  .buttonRun {
    margin: 0;
  }

  .codePane {
    padding-right: 1em;
  }

  .CodeEditor_code {
    /* Inconsolata from Google Web Fonts */
    border: 1px solid lightgray;
    font-family: Inconsolata, Monaco, Courier, Courier New, monospace;
    font-size: 14px;
    height: 400px;
    margin: 0;
    position: relative;
    resize: none;
    width: 100%;
  }

  .result {
    vertical-align: top;
    position: relative;
    /* Ensure demos with popups can pop them over the editor */
    z-index: 1;
  }

}
