.ControlMemberTable {

  border-collapse: collapse;

  & > * {
    border-top: 1px dotted #D7C5B4;
  }
  & > *:first-child {
    border: none;
  }

  & > * > * {
    padding: 0.5em 1em 0.5em 0;
  }
  & > * > *:first-child {
    color: #928274;
    font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
  }

}
