/*** AddThis ***/
.AddThis a {
  border: none !important;
}
.AddThis a:hover {
  border: none !important;
}

/*** CatalogNavigationLinks ***/
.CatalogNavigationLinks .listControls {
  margin-top: 15px;
}

/*** CodeEditor ***/
.CodeEditor .runner {
  display: table;
  width: 100%;
}
.CodeEditor .runner > * {
  display: table-row;
}
.CodeEditor .runner > * > * {
  box-sizing: border-box;
  display: table-cell;
  width: 50%;
}
.CodeEditor .labelRow > * {
  padding-bottom: 0.5em;
}
.CodeEditor .CodeEditor_heading {
  color: #928274;
  font-size: larger;
  font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
}
.CodeEditor .buttonRun {
  margin: 0;
}
.CodeEditor .codePane {
  padding-right: 1em;
}
.CodeEditor .CodeEditor_code {
  /* Inconsolata from Google Web Fonts */

  border: 1px solid lightgray;
  font-family: Inconsolata, Monaco, Courier, Courier New, monospace;
  font-size: 14px;
  height: 400px;
  margin: 0;
  position: relative;
  resize: none;
  width: 100%;
}
.CodeEditor .result {
  vertical-align: top;
  position: relative;
  /* Ensure demos with popups can pop them over the editor */

  z-index: 1;
}

/*** CodeOutput ***/
.CodeOutput .CodeOutput_content {
  border-top: 1px dotted #d7c5b4;
  border-bottom: 1px dotted #d7c5b4;
  margin: 0 20px;
  padding: 10px;
}
.CodeOutput h1 {
  margin-top: 0;
}
.CodeOutput ._label {
  color: #b49d87;
  font-size: 10pt;
  text-align: right;
  width: 100%;
}

/*** ControlClassHierarchy ***/
.ControlClassHierarchy .CatalogLink {
  margin-left: 1em;
}
.ControlClassHierarchy .CatalogLink:first-child {
  margin-left: inherit;
}

/*** Demo ***/
/* Space out demo elements */
.Demo > * {
  margin: 0 0.25em 0.25em 0;
}
.Demo,
.Demo input {
  font-family: Helvetica, Arial, sans-serif;
}
.Demo h1,
.Demo h2,
.Demo h3 {
  font-weight: bold;
}

/*** DemoTile ***/
.DemoTile {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 15px 25px 0;
  width: 300px;
}
.DemoTile .classNameContainer {
  border-top: 2px solid #928274;
  padding-top: 0.5em;
}
.DemoTile .className {
  border: none;
  color: #391c01;
  font-size: 12pt;
  font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
}
.DemoTile .description {
  color: #444;
  font-size: 90%;
}
.DemoTile .demoContainer {
  max-height: 250px;
  overflow: hidden;
  padding: 1px 0;
  /* Chrome seems to crop borders at top/bottom of demo. */

  width: 300px;
}
.DemoTile:hover {
  position: relative;
  z-index: 1;
  /* Make sure overlay for demo popups can cover up other tiles */

}
.DemoTile:hover .className {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}
.DemoTile:hover .className:hover {
  border-bottom-style: solid;
}

/*** FileContents ***/
.FileContents {
  white-space: pre-wrap;
  /* So lines wrap */

}

/*** Logo ***/
.Logo .logotype {
  border: none !important;
  color: white !important;
  font-size: 24pt;
  font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
}
.Logo .bracket {
  color: #D7C5B4;
}
.Logo .tagline {
  font-size: 10pt;
}

/*** NavigationBar ***/
.NavigationBar {
  font-size: 12pt;
  max-width: 800px;
}
.NavigationBar > * {
  margin: 0 0.25em;
}
.NavigationBar > *:first-child {
  margin-left: 0;
}
.NavigationBar > *:last-child {
  margin-right: 0;
}
.NavigationBar .Link {
  padding: 0.25em 0.5em;
}
.NavigationBar .Link.current {
  background-color: #358dcc;
  font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
}
.NavigationBar .Link:hover {
  background-color: #47aaf0;
}
.NavigationBar a {
  border: none !important;
  color: white !important;
}
.NavigationBar .searchBox {
  float: right;
  font-size: smaller;
  position: relative;
  top: -0.2em;
  /* HACK to vertically align w.r.t links, should revisit. */
}

/*** NavigationLinks ***/
.NavigationLinks {
  font-size: 13px;
}
.NavigationLinks h2 {
  color: #928274;
  font-size: 14px;
  margin: 1.5em 6px 0 6px;
}
.NavigationLinks p {
  margin: 1em 6px;
}
.NavigationLinks a {
  border: none !important;
  color: #444 !important;
  display: block;
  margin: 3px;
  padding: 3px;
}
.NavigationLinks a:hover {
  background-color: #eee;
}
.NavigationLinks .Link.current {
  font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;
}
.NavigationLinks:hover a {
  color: black !important;
}

/*** Popout ***/
.Popout {
  overflow: hidden;
}
.Popout.hovered {
  color: red;
}

/*** ScreencastLink ***/
.ScreencastLink {
  display: inline;
}
.ScreencastLink .iconPlay {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/*** SourceCode ***/
.SourceCode {
  margin: 0;
  white-space: pre-wrap;
}
/* Generic appearance */
.SourceCode.generic .comment {
  color: #08f;
}
.SourceCode.generic .keyword {
  color: #04f;
  font-weight: bold;
}
.SourceCode.generic .string {
  color: green;
}
.SourceCode.generic .tag .title {
  color: blue;
}
.SourceCode.generic .tag .attribute {
  /* font-style: italic; */

}
.SourceCode.generic .tag .value {
  color: green;
}
.SourceCode.generic .css .value {
  color: green;
}

/*** SourceFileContents ***/
.SourceFileContents {
  position: relative;
}
.SourceFileContents .linkContainer {
  font-size: 13px;
  position: absolute;
  right: 8px;
  text-align: right;
  top: 5px;
  width: 100%;
}
.SourceFileContents a.link {
  border: none !important;
}

/*** Tag ***/
.Tag {
  display: inline;
  font-family: Consolas, Lucida Console, Courier, Courier New, monospace;
}
