.SourceCode {
  margin: 0;
  white-space: pre-wrap;

  /* Generic appearance */
  &.generic {

    .comment {
      color: #08f;
    }

    .keyword {
      color: #04f;
      font-weight: bold;
    }

    .string {
      color: green;
    }

    .tag {
      .title {
        color: blue;
      }
      .attribute {
        /* font-style: italic; */
      }
      .value {
        color: green;
      }
    }

    .css .value {
      color: green;
    }

  }
}
