.SourceFileContents {
  position: relative;

  .linkContainer {
    font-size: 13px;
    position: absolute;
    right: 8px;
    text-align: right;
    top: 5px;
    width: 100%;
  }

  a.link {
    border: none !important;
  }

}
