.HomePage {

  h1 {
      margin-bottom: 1.5em;
  }

  /* This page is one where we want the browser title different from main heading. */
  .SitePage_title {
      display: none;
  }

  .main {
    margin-right: 20px;
    width: 580px;
  }

  .demo {
    float: right;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 1em;
    width: 200px;
  }

  .benefits {
      color: #928274;
      font-size: 24px;
  }
  .benefits b {
      color: #391C01;
  }

  .inlineDemos > *:not(:last-child) {
      margin-right: 1em;
  }

}