.HomePage {

  h1 {
      margin-bottom: 1.5em;
  }

  /* This page is one where we want the browser title different from main heading. */
  .SitePage_title {
      display: none;
  }

  .main {

    td {

      padding-bottom: 1em;
      vertical-align: top;

      &:first-child {
        margin-right: 20px;
        padding-right: 1em;
        width: 580px;
      }

      &:nth-child(2) {
        font-size: 12px;
        font-style: italic;
        width: 200px;
        .Control {
          font-style: normal;
        }
      }

      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }

    }

  }


  .benefits {
      color: #928274;
      font-size: 24px;
  }
  .benefits b {
      color: #391C01;
  }

  .inlineDemos > *:not(:last-child) {
      margin-right: 1em;
  }

}