.HomePage {

  h1 {
      margin-bottom: 1.5em;
  }

  /* This page is one where we want the browser title different from main heading. */
  .SitePage_title {
      display: none;
  }

  .benefits {
      color: #928274;
      font-size: 24px;
  }
  .benefits b {
      color: #391C01;
  }

  .main {

    td {

      padding-bottom: 1em;
      vertical-align: top;

      &:first-child {
        margin-right: 20px;
        width: 580px;
      }

      &:nth-child(2) {
        padding-left: 1em;
        width: 200px;
        
      }

      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }

    }

  }

  .caption {
    font-size: 13px;
  }

  .inlineDemos > *:not(:last-child) {
      margin-right: 1em;
  }

  ul,
  ol {
    margin-left: 1.25em;
    padding-left: 0;    
  }

}