/*** TutorialPage ***/

.TutorialPage #SitePage_content {
    max-width: inherit;
}
.TutorialPage h1, .TutorialPage p, .TutorialPage ol, .TutorialPage ul {
    max-width: 800px;
}

.TutorialPage #editor {
    margin: 1em 0;
}

.TutorialPage #buttonNext {
    display: none;
}

