.NavigationBar {
  font-size: 12pt;
  max-width: 800px;

  & > * {
    margin: 0 0.25em;
  }
  & > *:first-child {
    margin-left: 0;
  }
  & > *:last-child {
    margin-right: 0;
  }

  .Link {
    padding: 0.25em 0.5em;
  }
  .Link.current {
    background-color: #358dcc;
    font-family: "Avenir Next LT W01 Bold", Helvetica, Arial, sans-serif;  
  }
  .Link:hover {
    background-color: #47aaf0;
  }

  a {
    border: none !important;
    color: white !important;
  }

  .searchBox {
    float: right;
    font-size: smaller;
    position: relative;
    top: -0.2em;  /* HACK to vertically align w.r.t links, should revisit. */  
  }

}
